@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto+Slab:wght@100..900&display=swap");

/* 
=========================|
    Sudo Reset v1.2      |
=========================|
*/

:root {
  /* Colors */
  --primary-color: #320c40;
  --secondary-color: #a52ad6;
  /*--third-color: #;*/
  --accent-color: var(--primary-color);

  --bg-color: #dbc1e6;
  --text-color: #0f0014;
  --text-muted: #66546e;

  /* Typography */
  --font-main: "Roboto Slab", serif;
  --font-heading: "Gruppo", sans-serif;

  --font-size-base: 1rem;
  --line-height-base: 1.3;
  --line-height-heading: 1.2;

  /* The Sudo Border Variable */
  --border-width: 2px;
  --border-style: solid;
  --border: var(--border-width) var(--border-style) var(--primary-color);

  /* Utilities */
  --transition-speed: 0.3s;
  --radius: 4px;

  /* Navigation wire tokens */
  --wire-color: #320c40;
  --wire-thickness: 2px;
  --wire-gap: 1.15rem;
  --wire-offset: 2rem;
  --wire-drop-height: 2rem;
  
}

/* --- THE RESET --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;

  background-color: var(--bg-color, #1a1b1e);
  color: var(--text-color, #dcdfe4);
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: var(--line-height-heading);
  text-wrap: balance;
  margin: 0;
}

p {
  margin: 0;
  text-wrap: pretty;
  max-width: 75ch;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: var(--border);
}

button {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--primary-color);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 4px;
}

/* 
Start Coding Below This Point : HAPPY CODING 🤝
========================================================================
*/
